<mat-card>
  <mat-card-title  style="text-align: center;">
    Premium Calculator
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput id="name" placeholder="Enter Your Name" (change)="calculateMonthlyPremium()" [(ngModel)]="name" required>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="dateOfBirth" (dateChange)="calculateAge()" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-label *ngIf="age!=null">Age:{{age}}</mat-label>
    <br />
    <mat-form-field>
      <mat-label>Occupation</mat-label>
      <mat-select [(ngModel)]="occupation" (selectionChange)="calculateMonthlyPremium()">
        <mat-option *ngFor="let occ of occupationList" [value]="occ">
          {{occ}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <mat-form-field>
      <input matInput id="deathCoverAmount" placeholder="Death – Sum Insured"  [(ngModel)]="deathCoverAmount" (change)="calculateMonthlyPremium()"  required>
    </mat-form-field>
    <br />
    <mat-label>Monthly Premium to be paid is  {{premium}}</mat-label>
</mat-card-content>
</mat-card>